<nav class="navbar bg-secondary-subtle text-secondary-emphasis">
  <div class="container-fluid">
    <a class="navbar-brand">Shop.ly</a>
    <div class="d-flex">
      <% if (user) { %>

        <form method="post" action="/product/" class="d-flex " role="search">
          <input class="form-control me-2 outline-danger" name="search" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success me-5" type="submit">Search</button>
        </form>

        <a href="/mycart" class="btn btn-primary me-3">Cart</a>
        <a href="/user/logout" class="btn btn-primary">Logout</a>
        <% } else { %>
          <a href="/login" class="btn btn-primary me-3">Login</a>
          <a href="/signup" class="btn btn-primary">Signup</a>
          <% } %>
    </div>
  </div>
</nav>
